/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #0a0000;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  section {
    padding: 30px 0;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .burger-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .burger-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
  }
  
  .order-summary {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .btn {
    background-color: #ff5500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  .btn:hover {
    background-color: #e64400;
  }
  
  footer {
    background-color: #f2f2f2;
    color: #000000;
    padding: 20px 0;
    text-align: center;
  }

  /* Add these styles to your CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  